<!--CHRISTIAN-->
{% extends "base.html" %}
{%block content%}
    
        <head>
            <meta charset="UTF-8">
            <title>Add Preset</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
        </head>

        <body>
            <h1 style="text-align: center; color:white">Add Preset (MasterList)</h1>
            <br><br>
            <!--
                I am giving the value in the form of: 
            {'id': UUID('36d8c82d-4a56-4860-8f71-aff5f350f45e'), 
            'timestamp': 1698420651.296685, 'data': ['www.google.com', 'www.instagram.com', 
            'www.csustan.edu', 'www.microsoft.com', 'www.nasa.gov', 'chat.openai.com', 'www.bbc.co.uk', 
            'www.reddit.com', 'www.wikipedia.org', 'www.amazon.com']}

            id
            timestamp
            data
            -->
            <div>
            <!--form action="addPreset/newAddedPreset" style="display:inline-block" method="POST"-->
            <form action="addPreset/newAddedPreset" method="POST" onsubmit="return validateForm() && validateForm2()" id="myForm">
                <!--
                    Need a name for the respective preset so the user knows what to ask for later
                    Make it easier to recall for them. 
                -->
                <label for="fname">Please Pick Something You Will Remember</label><br>
                Preset Name: <input type="text" name="name" id="urlInput">
                <br><br>
                {% for url in masterList['data'] %} 
                    <!--
                        will be changed from masterList to websitesList.
                    -->
                    <input type="checkbox" name="selected_options[]" value="{{ url }}"> {{ url }}<br>
                    
                {% endfor %}
                <br>
                <input type="submit" value="Submit">
            </form>
            <script src="{{ url_for('static', filename='js/noEmpty.js') }}"></script>
            </div>

            <br>
            <div>
                <a href="/addPresetWebList">
                    <button>Go Back</button>
                </a>
            </div>
        </body>
{% endblock %}
