<!--extended from Christian's AddPreset.html-->
{% extends "base.html" %}
{%block content%}
    
        <head>
            <meta charset="UTF-8">
            <title>Add Preset</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
        </head>

        <body>
            <h1 style="text-align: center; color:white">Add Preset</h1>
            <br><br>
            <div>
            <form action="addPreset/newAddedPreset" method="POST" onsubmit="return validateForm() && validateForm2()" id="myForm">
                <!--
                    JS validation.
                -->
                <label for="fname">Please Pick Something You Will Remember:</label><br>
                Preset Name: <input type="text" name="name" id="urlInput">
                <br><br>
                {% for url in masterList['data']['websitesList'] %} 
                    <input type="checkbox" name="selected_options[]" value="{{ url }}"> {{ url }}<br>
                    
                {% endfor %}
                <br>
                <input type="submit" value="Submit">
            </form>
            <script src="{{ url_for('static', filename='js/noEmpty.js') }}"></script>
            </div>
            
            <br>
            <div>
                <a href="/addPreset">
                    <button>MasterList</button>
                </a>
            </div>
        </body>
{% endblock %}
