{%extends "base.html" %} 
{% block content %}
    <!--CHRISTIAN-->
    
        <head>
            <meta charset="UTF-8">
            <title>Track Website</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
        </head>
        <body>
            <h1  style="text-align:center;color:white;">Add Website</h1>
            <form class="form" action="addWebsite/newAddedWebsite" method="POST" onsubmit="return validateForm()">
                <p style="color:white;"><strong>Add a website URL so that we can track it, Detective.</strong></p>
                <label style="color:white;" for="fname">URL:</label>
                <input type="text" name="url" id="urlInput">
                <input type="submit" value="Submit">
            </form>
            
            <script src="{{ url_for('static', filename='js/noEmpty.js') }}"></script>
        </body>
    
{% endblock%}