{%extends "base.html" %} 
{% block content %}
    <!--CHRISTIAN-->
    
        <head>
            <meta charset="UTF-8">
            <title>Track Website</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
        </head>
        <body>
            <h1  style="text-align:center;color:white;">Add Website</h1>
            <form action="addWebsite/newAddedWebsite" method="POST">
                <!--
                    GET: unsafe way to send info,
                    POST: safe way to send info,
                    REQUEST: if you don't know you used
                            in the other php file,
                -->
                <h4 style="color:white;">Please add a website if you so desire so that we can keep track of it madam or monsier</h4>
                <label style="color:white;" for="fname">url:</label>
                <input type="text" name="url">
                <button type="submit">Click Me!!!</button>
            </form>
        </body>
    
{% endblock%}