<!--CHRISTIAN-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Website{% endblock %}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
    </head>
    <body>

        <ul>
            <li><a class="home-link" href="/home">Home</a></li>
            <li><a class="dropdown" href="/about">About</a></li>

            <li class="dropdown">
                <a href="#">Websites</a>
                <div class="dropdown-content">
                    <a href="/addWebsite">Add Website</a>
                    <a href="/deleteWebsite">Delete Website</a>
                    <a href="/viewWebsite">View Website</a>
                </div>
            </li>
        
            <li class="dropdown">
                <a href="#">Presets</a>
                <div class="dropdown-content">
                    <a href="/addPresetWebList">Add Preset</a>
                    <a href="/editPreset">Edit Preset</a>
                    <a href="/deletePreset">Delete Preset</a>
                    <a href="/viewPreset">View Preset</a>
                    <!--<a href="/addPreset">Page Prototypes</a>-->
                </div>
            </li>
        </ul>
        <br>
        <br>
        <main>
            {%block content%}{% endblock %}
        </main>
    </body>
<html>