<!--CHRISTIAN-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Delete Preset</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
    </head>
    <body>
        <ul>
            <li><a class="current" href="/">Home</a></li>
            <li><a href="addWebsite">Add Website</a></li>
            <li><a href="deleteWebsite">Delete Website</a></li>
            <li><a href="addPreset">Add Preset</a></li>
            <li><a href="editPreset">Edit Preset</a></li>
            <li><a href="deletePreset">Delete Preset</a></li>
            
            <li><a href="viewPreset">View Preset</a></li>
            <li><a href="viewWebsite">View Website</a></li>
        </ul><br>
        <h1  style="text-align:center;color:white;">Delete Preset</h1><br>
        <form action="deletePreset/newDeletedPreset" style="background-color:white; display:inline-block" method="POST">
            <p>CHOOSE A PRESET TO BE DELETED</p>
            <!--
                Need a name for the respective preset so the user knows what to ask for later
                Make it easier to recall for them. 
            -->
            <br><br>
            {% for preset in presets %}
                <!--<label class="background">
                    
                        We want to look at the inputs name when returning these back to 
                    
                    <input type="checkbox" name="presetsList" value="{{ url }}">{{ url }}<br>
                </label><br>-->

                <!--
                    Working on getting this to send more than one stupid value. 
                    I want it to send a list back to addPreset so I can send it to
                    the database as a list
                -->
                
                <input type="checkbox" name="selected_options[]" value="{{preset['name']}}"> {{ preset['name'] }} <br> {{preset['presetLists'] }}<br>
                
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>