{% extends "base.html" %}
{% block content %}
    <!--CHRISTIAN-->
    
        <head>
            <meta charset="UTF-8">
            <title>Delete Website</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
        </head>
        <body>
            <h1  style="text-align:center;color:white;">Delete Website</h1><br>

            <form action="deleteWebsite/newDeletedWebsite" style="background-color:white; display:inline-block" method="POST">
                <!--
                    Need a name for the respective preset so the user knows what to ask for later
                    Make it easier to recall for them. 
                -->
                
                <div style="background:black;color:white;">FROM THIS LIST PICK WHICH ONES YOU WOULD LIKE TO DELETE</div>
                <br><br>
                {% for url in masterList['data'] %}
                    <!--<label class="background">
                        
                            We want to look at the inputs name when returning these back to 
                        
                        <input type="checkbox" name="presetsList" value="{{ url }}">{{ url }}<br>
                    </label><br>-->

                    <!--
                        Working on getting this to send more than one stupid value. 
                        I want it to send a list back to addPreset so I can send it to
                        the database as a list
                    -->
                    
                    <input type="checkbox" name="selected_options[]" value="{{ url }}"> {{ url }}<br>
                    
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </body>
    
{% endblock %}