<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Horizontal Menu</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="style1.css">
    </head>
    <body>
        <ul>
            <li><a class="current" href="">Home</a></li>
            <li><a href="trackWebsite">track Website</a></li>
            <li><a href="deleteWebsite">Delete Website</a></li>
            <li><a href="addPreset">Add Preset</a></li>
            <li><a href="editPreset">Edit Preset</a></li>
            <li><a href="deletePreset">Delete Preset</a></li>
        </ul>
    </body>
</html>