{% extends "base.html" %}
{% block content %}
    <!--CHRISTIAN-->
    
        <head>
            <meta charset="UTF-8">
            <title>Edit Preset</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
        </head>
        <body>
            <h1  style="text-align:center;color:white;">Edit Preset</h1><br>
            <div>

            <form action="editPreset/newEditedPreset" style="display:inline-block" method="POST" onsubmit="return validateForm3()" id="myForm">
                
                <div style="color:white;">Choose which preset you would like to edit:</div><br>

                {% for item in presets['presets'] %}

                    <input type="radio" name="selected_option[]" value="{{ item }}"> {{ item['name'] }}<br>{{item['presetLists']}} || timestamp: {{item['timestamp']}}<br>
                
                {% endfor %}
                <input type="submit" value="Submit">
            </form>

            </div>
            <script src="{{ url_for('static', filename='js/noEmpty.js') }}"></script>
        </body>
    
{% endblock %}
