<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edit Preset</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
    </head>
    <body>
        <ul>
            <li><a class="current" href="/">Home</a></li>
            <li><a href="addWebsite">Add Website</a></li>
            <li><a href="deleteWebsite">Delete Website</a></li>
            <li><a href="addPreset">Add Preset</a></li>
            <li><a href="editPreset">Edit Preset</a></li>
            <li><a href="deletePreset">Delete Preset</a></li>
        </ul><br>
        <h1  style="text-align:center;color:white;">Edit Preset</h1><br>
        {{presets}}
        <form action="editPreset/newEditedPreset" style="background-color:white; display:inline-block" method="POST">
            <!--
                Need a name for the respective preset so the user knows what to ask for later
                Make it easier to recall for them. 
            -->
            
            <div style="background:black;color:white;">FROM THIS LIST PICK WHICH ONES YOU WOULD LIKE TO EDIT</div>
            <br><br>
            {% for item in presets['data'] %}
                
                <input type="checkbox" name="selected_option" value="{{ item }}"> {{ item['name'] }}<br>{{item['presetLists']}}
                
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>