<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edit Preset</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
    </head>
    <body>
        <ul>
            <li><a class="current" href="/">Home</a></li>
            <li><a href="addWebsite">Add Website</a></li>
            <li><a href="deleteWebsite">Delete Website</a></li>
            <li><a href="addPreset">Add Preset</a></li>
            <li><a href="editPreset">Edit Preset</a></li>
            <li><a href="deletePreset">Delete Preset</a></li>
        </ul><br>
        <!--
            I am giving the value in the form of: 
        {'id': UUID('36d8c82d-4a56-4860-8f71-aff5f350f45e'), 
        'timestamp': 1698420651.296685, 'data': ['www.google.com', 'www.instagram.com', 
        'www.csustan.edu', 'www.microsoft.com', 'www.nasa.gov', 'chat.openai.com', 'www.bbc.co.uk', 
        'www.reddit.com', 'www.wikipedia.org', 'www.amazon.com']}

        id
        timestamp
        data
        -->
        <h1>NEW EDITED PRESET</h1>
        <p style="color:white">{{oldPreset}}</p>
        <form action="newEditedPreset/edit" style="background-color:white; display:inline-block" method="POST">
            <!--
                Need a name for the respective preset so the user knows what to ask for later
                Make it easier to recall for them. 
            -->
            <label for="fname">Preset List Name (Please Pick Something You Will Remember):</label><br>
            Preset Name: <input type="text" name="name">
            <br><br>
            {% for url in masterList['data'] %}
                <!--
                    Working on getting this to send more than one stupid value. 
                    I want it to send a list back to addPreset so I can send it to
                    the database as a list
                -->
                <input type="checkbox" name="selected_options[]" value="{{ url }}"> {{ url }}<br>
                
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>