{% extends "base.html" %}

{% block content %}
    <br>
    <!--VEL-->
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>View Websites</title>
        </head>
        <body>
        <h1 class="home" style="text-align:center; color:white;">Welcome home, Detective {{userName}}.</h1><br>
        <div style="text-align:center; color: white;">
            <h2><em>S</em>erver <em>H</em>ealth and <em>E</em>mpirical <em>R</em>eal-time 
                <em>L</em>atency for <em>O</em>nline <em>C</em>onnection <em>K</em>nowledge. </h2>
            <p style="font-size: x-large;">Code Named S.H.E.R.L.O.C.K.</p>
        </div>
        <!--insert latency table ga.html-->
        </body>
    </html>
    
{% endblock %}
