{% extends "base.html" %}

{% block content %}
    <br>
    <!--CHRISTIAN-->
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>View Websites</title>
        </head>
        <body>
        <h1 id="Welcome" style="text-align:center; color:white;">Welcome home, Detective {{email}}.</h1><br>
        <div style=="text-align:center;color:white;">
            <h4 style="text-align:center;color:white;">
                Latency is in milliseconds and is averaged from the 60 insertions that happened in the last minute
            </h4><br>
            
        </div>
        </body>
    </html>
    
{% endblock %}
