{% extends "base.html" %}

{% block content %}
    <br>
    <!--CHRISTIAN-->
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>View Websites</title>
        </head>
        <body>
        <h1 class="home" style="text-align:center; color:white;">Welcome home, Detective {{email}}.</h1><br>
        <div style=="text-align:center; color:white;">
            <h2 style="color: white;"> This is the <em>S</em>erver <em>H</em>ealth and <em>E</em>mpirical <em>R</em>eal-time 
                <em>L</em>atency for <em>O</em>nline <em>C</em>onnection <em>K</em>nowledge. </h2>
        </div>
        </body>
    </html>
    
{% endblock %}
