<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Track Website</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
    </head>
    <body>
        <ul>
            <li><a class="current" href="/">Home</a></li>
            <li><a href="trackWebsite">track Website</a></li>
            <li><a href="deleteWebsite">Delete Website</a></li>
            <li><a href="addPreset">Add Preset</a></li>
            <li><a href="editPreset">Edit Preset</a></li>
            <li><a href="deletePreset">Delete Preset</a></li>
        </ul>
        <br>
        <br>
        <h1 style="text-align:center;color:white;">Track Website</h1>
        <form action="trackWebsite/newTrackedWebsite" method="POST">
            <!--
                GET: unsafe way to send info,
                POST: safe way to send info,
                REQUEST: if you don't know you used
                        in the other php file,
            -->
            <label style="color:white;" for="fname">url:</label>
            <input type="text" name="url">
            <button type="submit">Click Me!!!</button>
        </form>
    </body>
</html>