{% extends "base.html" %}
{% block content %}
    <!--CHRISTIAN-->
    
        <head>
            <meta charset="UTF-8">
            <title>View Websites</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
        </head>
        <body>
            <h1 style="text-align:center;color:white;">View Website</h1><br>
            <!--
                I am giving the value in the form of: 
            {'id': UUID('36d8c82d-4a56-4860-8f71-aff5f350f45e'), 
            'timestamp': 1698420651.296685, 'data': ['www.google.com', 'www.instagram.com', 
            'www.csustan.edu', 'www.microsoft.com', 'www.nasa.gov', 'chat.openai.com', 'www.bbc.co.uk', 
            'www.reddit.com', 'www.wikipedia.org', 'www.amazon.com']}

            id
            timestamp
            data
            -->
            <div>
            <form action="viewWebsite/newViewWebsite" style="display:inline-block" method="POST" onsubmit="return validateForm3()" id="myForm">
                <label for="fname">Pick a website to view its graph:</label><br><br>
                {% for url in masterList['data'] %}
                    <!--
                        Finished.
                    -->
                    <input type="radio" name="selected_option" value="{{ url }}"> {{ url }}<br>
                    
                {% endfor %}
                <br><input type="submit" value="Submit">
                </div>
            </form>

            <script src="{{ url_for('static', filename='js/noEmpty.js') }}"></script>

        </body>
{% endblock %}
