/* CHRISTIAN */
html{
    background-image: url('/static/images/sherlock.jpg');    /* background-size: cover; */
    /* background-size:30px; */
    background-repeat: no-repeat;
}
ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
li a{
    display:block;
    width:60px;
    background-color:lightgray;
    color:black;
    text-decoration:none;
    padding:8px 16px;
}
li a:hover{
    background-color:black;
    color:lightgray;
}
li a.current{
    background-color:green;
    color:white;
}
li a:hover:not(.current){
    background-color:black;
    color:lightgray;
}